BasedOnStyle: WebKit

BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterExternBlock: false
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false

# BreakBeforeConceptDeclarations: Always
# IndentRequiresClause: false
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeComma
ColumnLimit: 89
CommentPragmas: '^ clang-format:'
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentWidth: 2
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: true
LambdaBodyIndentation: OuterScope
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PackConstructorInitializers: Never
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
StatementMacros: ['E_SIGNAL', 'PROPERTY', 'W_SIGNAL', 'W_PROPERTY', 'W_SLOT']
TabWidth: 2
UseTab: Never

IncludeCategories:
  - Regex:           '<.*\.(c|cpp)>'
    Priority:        1000
  - Regex:           '^"'
    Priority:        10
  - Regex:           '^<State/'
    Priority:        20
  - Regex:           '^<Device/'
    Priority:        21
  - Regex:           '^<Process/'
    Priority:        22
  - Regex:           '^<Curve/'
    Priority:        23
  - Regex:           '^<Explorer/'
    Priority:        24
  - Regex:           '^<Scenario/'
    Priority:        25
  - Regex:           '^<(Vst|Vst3|Audio|Magnetism|Control|ControlSurface|RemoteScenario|Protocols|Media|Midi|JS|Inspector|Automation|Dataflow|Fx|Library|Mapping|Loop|Recording|PluginSettings|Gfx|Nodal|Pd|LV2|Mixer|Video|Effect|Execution|Engine|LocalTree|Crousti|Ysfx|Jsfx|Jit|Texgen|Bytebeat)'
    Priority:        29
  - Regex:           '^<score/'
    Priority:        30
  - Regex:           '^<core/'
    Priority:        40
  - Regex:           '^<ossia/detail/config'
    Priority:        50
  - Regex:           '^<ossia/'
    Priority:        60
  - Regex:           '^<ossia-qt/'
    Priority:        65
  - Regex:           '^<boost'
    Priority:        70
  - Regex:           '^<Q'
    Priority:        80
  - Regex:           '<([[:alnum:]_]+\/)+([[:alnum:]_])+.(h|hpp)>'
    Priority:        700
  - Regex:           '<([[:alnum:]_]+\/?)+.(h|hpp)>'
    Priority:        800
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        900
