Checks:          '*,-clang-diagnostic-unknown-warning-option,-clang-diagnostic-unused-command-line-argument,-google-readability-namespace-comments,-llvm-namespace-comment,-readability-inconsistent-declaration-parameter-name,-cppcoreguidelines-pro-type-static-cast-downcast,-clang-analyzer-cplusplus.NewDeleteLeaks,-google-readability-braces-around-statements,-llvm-include-order,-google-build-using-namespace,-readability-implicit-bool-cast,-misc-unused-parameters,-readability-braces-around-statements,-clang-analyzer-alpha.core.CastToStruct,-google-readability-todo,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-readability-else-after-return'
