[submodule "API"]
	path = API
	url = https://github.com/OSSIA/API
[submodule "3rdparty/QProgressIndicator"]
	path = 3rdparty/QProgressIndicator
	url = https://github.com/jcelerier/QProgressIndicator
[submodule "3rdparty/QRecentFilesMenu"]
	path = 3rdparty/QRecentFilesMenu
	url = https://github.com/jcelerier/QRecentFilesMenu.git
[submodule "3rdparty/Qt-Color-Widgets"]
	path = 3rdparty/Qt-Color-Widgets
	url = https://github.com/jcelerier/Qt-Color-Widgets.git
[submodule "Documentation/Doxygen/doxygen-bootstrapped"]
	path = Documentation/Doxygen/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped
[submodule "3rdparty/desktopqqc2style"]
	path = base/lib/resources/desktopqqc2style
	url = https://anongit.kde.org/scratch/mart/desktopqqc2style.git
