*.AppImage
*.txz
*.AppDir
wasm-release
make-build
cmake-build-debug
cmake-debug
3rdparty/VST3 SDK
score-srcs.pri
*.jsc
*.qmlc
Tests/testdata/stacks2
.idea
CMake/common
CMakeFiles*
base/disabled_addons
build-*
sonar-project.properties
nohup.out
build
Trash
Doxygen/html
Documentation/Doxygen/output
Documentation/Doxygen/dox.error
bin
libs
#files
.DS_Store
*.user
Makefile
*.autosave
# temporary files
*~
*.o

# Eclipse
.cproject
.project
.vs
/i-scoreRecast.app/
*.db
*kde*
cppcheck-html

base/addons/*
i-score*.pri
tools/sdk/Raspberry/qemu-arm-static

Documentation/Doc_sources/score-documentation/site

