.idea
base/disabled_addons
build-*
sonar-project.properties
nohup.out
build
Trash
Doxygen/html
bin
libs
#files
.DS_Store
*.user
Makefile
*.autosave
# temporary files
*~
*.o

# Eclipse
.cproject
.project

/i-scoreRecast.app/
*.db
*kde*
cppcheck-html

base/addons/*
