[submodule "API"]
	path = 3rdparty/libossia
	url = https://github.com/ossia/libossia
[submodule "3rdparty/QProgressIndicator"]
	path = src/lib/3rdparty/QProgressIndicator
	url = https://github.com/jcelerier/QProgressIndicator
[submodule "3rdparty/Qt-Color-Widgets"]
	path = src/lib/3rdparty/Qt-Color-Widgets
	url = https://github.com/jcelerier/Qt-Color-Widgets.git
[submodule "Documentation/Doxygen/doxygen-bootstrapped"]
	path = docs/Doxygen/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped
[submodule "3rdparty/phantomstyle"]
	path = 3rdparty/phantomstyle
	url = https://github.com/jcelerier/phantomstyle
[submodule "3rdparty/zipdownloader"]
	path = 3rdparty/zipdownloader
	url = https://github.com/jcelerier/zipdownloader
[submodule "3rdparty/magicitems"]
	path = 3rdparty/magicitems
	url = https://github.com/jcelerier/magicitems
[submodule "3rdparty/QCodeEditor"]
	path = 3rdparty/QCodeEditor
	url = https://github.com/jcelerier/QCodeEditor
[submodule "3rdparty/vst3/public.sdk"]
	path = 3rdparty/vst3/public.sdk
	url = https://github.com/jcelerier/vst3_public_sdk
[submodule "3rdparty/vst3/pluginterfaces"]
	path = 3rdparty/vst3/pluginterfaces
	url = https://github.com/jcelerier/vst3_pluginterfaces
[submodule "3rdparty/vst3/base"]
	path = 3rdparty/vst3/base
	url = https://github.com/steinbergmedia/vst3_base
[submodule "3rdparty/vst3/cmake"]
	path = 3rdparty/vst3/cmake
	url = https://github.com/jcelerier/vst3_cmake

