<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="io.ossia.score"
            Version="3.0.9.0"
            Publisher="CN=ossia.io, O=ossia.io, L=Talence, S=Gironde, C=France" 
            ProcessorArchitecture="x64"/>
  <Properties>
    <DisplayName>ossia score</DisplayName>
    <PublisherDisplayName>ossia.io</PublisherDisplayName>
    <Logo>ossia.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3</OSMinVersion>
    <OSMaxVersionTested>6.3</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="score" StartPage="score.exe">
      <VisualElements DisplayName="ossia score" Description="an interactive and intermedia sequencer"
           Logo="ossia.png" SmallLogo="ossia-small.png"
           ForegroundText="dark" BackgroundColor="#FFFFFF">
        <SplashScreen Image="ossia-splash.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>
