*.zip
build-*
AppRun*
*.AppImage
*.txz
*.AppDir
*.jsc
*.qmlc
.idea
CMakeFiles*
build-*
sonar-project.properties
nohup.out
build
Trash
bin
libs

#files
.DS_Store
*.user
Makefile
*.autosave

# temporary files
*~
*.o

# Eclipse
.cproject
.project
.vs

*.db
*kde*
*.user.*
.cmake
.vscode
