name: BSDs
on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_bsd:
    name: FreeBSD
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - uses: vmactions/freebsd-vm@v1
      with:
        release: "15.0"
        usesh: true
        sync: nfs
        copyback: false
        prepare: |
          echo "=============== FreeBSD Start update ====================="
          pkg update -f -q
          echo "=============== FreeBSD Start upgrade ====================="
          pkg upgrade -y
          echo "=============== FreeBSD Start install ====================="
          pkg install -y \
            bash \
            boost-libs \
            cmake git \
            llvm19 \
            ninja \
            qt6-base qt6-declarative qt6-shadertools qt6-websockets qt6-serialport qt6-scxml qt6-imageformats qt6-connectivity \
            ffmpeg \
            lilv suil lv2 \
            libcoap \
            portaudio \
            pd \
            libfmt spdlog \
            rubberband libsamplerate libsndfile \
            libcoap \
            freetype2 harfbuzz fontconfig \
            alsa-lib jackit
          echo "=============== FreeBSD End install ====================="

        run: |
          echo "=============== FreeBSD Start Deps ====================="
          ./ci/common.deps.sh && echo "=============== FreeBSD Deps Success ====================="
          echo "=============== FreeBSD Start Build ====================="
          ./ci/freebsd.build.sh && echo "=============== FreeBSD Build Success ====================="
          echo "=============== FreeBSD End Build ====================="
