name: Windows build
on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  winmvsc:
    name: MSVC
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install Qt
        uses: jurplel/install-qt-action@v4.3.0
        with:
          version: 6.10.*
          modules: qtwebsockets qtserialport qtscxml qtshadertools qtquick3d qtconnectivity

      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x64

      - name: Dependencies
        shell: bash
        run: |
          ./ci/win32.msvc.deps.sh

      - name: Build
        shell: cmd
        run: |
          call "%cd%\ci\win32.msvc.build.cmd"

